.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}