.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

/* =========================
   RESPONSIVE CARD
   ========================= */

/* MÓVILES */
@media (max-width: 480px) {

    .card {
        width: 90%;
        padding: 20px;
        border-radius: 16px;
    }

    .logo {
        width: 55px;
    }
}

/* TABLETS */
@media (max-width: 768px) {

    .card {
        width: 360px;
    }

    .logo {
        width: 60px;
    }
}

/* PANTALLAS GRANDES */
@media (min-width: 1200px) {

    .card {
        width: 460px;
    }
}
